body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide scroll bars */
}
img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-show{
    margin: 0;
    padding: 0;

}